#header-block {
  height: 800px;
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 40px 40px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

#header-block #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header-block #header #logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

#header-block #header #logo-wrapper img {
  width: 170px;
}

#header-block #header #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

#header-block #header #navbar p {
  margin: 0 7% 0 0;
}

#header-block #header #navbar p a {
  text-decoration: none;
  color: white;
}

#header-block #header #navbar p a:hover {
  color: #23303e;
}

#header-block #header #navbar #contact-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: white;
  border-radius: 50px;
  min-width: 140px;
  min-height: 56px;
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
}

#header-block #header #navbar #contact-button:hover {
  background-color: rgba(255, 255, 255, 0.325);
  cursor: pointer;
}

#header-block #header #navbar #contact-button:hover a {
  color: white;
}

#header-block #header #navbar #contact-button a {
  font-size: 0.9em;
  color: #23303e;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
}

#header-block #header #menu-bars {
  width: 25px;
  cursor: pointer;
  display: none;
}

#header-block #greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
}

#header-block #greeting h1 {
  font-size: 3em;
  letter-spacing: 10px;
  font-weight: 900;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-align: center;
}

#header-block #greeting img {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-animation: arrow 1700ms ease-in-out infinite;
          animation: arrow 1700ms ease-in-out infinite;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

#grid-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "cell1 cell1" "cell2 cell2" "cell3 cell3";
}

#grid-cell-first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cell1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 600px;
}

#grid-cell-first #cell1-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

#grid-cell-first #cell1-text #cell1-text-wrapper {
  margin-left: 23%;
  margin-right: 14%;
  margin-top: 18%;
}

#grid-cell-first #cell1-text h2 {
  font-size: 2.2em;
  font-weight: 900;
  font-family: "Fraunces", serif;
  color: #23303e;
}

#grid-cell-first #cell1-text p {
  margin-bottom: 35px;
  font-family: "Barlow", sans-serif;
  color: #818498;
  font-size: 1em;
  line-height: 1.7;
}

#grid-cell-first #cell1-text a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: #23303e;
  font-size: 0.85em;
  font-weight: 900;
  margin-left: 10px;
  letter-spacing: 1px;
  z-index: 1;
}

#grid-cell-first #cell1-text a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background-color: rgba(250, 212, 0, 0.25);
  z-index: -1;
  bottom: -2px;
  left: -3px;
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
}

#grid-cell-first #cell1-text a:hover::after {
  background-color: #fad400;
}

#grid-cell-first #cell1-img {
  background-image: url(../images/desktop/image-transform.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}

#grid-cell-second {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cell2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  height: 600px;
}

#grid-cell-second #cell2-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

#grid-cell-second #cell2-text #cell2-text-wrapper {
  margin-left: 15%;
  margin-right: 21%;
  margin-top: 17%;
}

#grid-cell-second #cell2-text h2 {
  font-size: 2.2em;
  font-weight: 900;
  font-family: "Fraunces", serif;
  color: #23303e;
}

#grid-cell-second #cell2-text p {
  margin-bottom: 40px;
  font-family: "Barlow", sans-serif;
  color: #818498;
  font-size: 1em;
  line-height: 1.7;
}

#grid-cell-second #cell2-text a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: #23303e;
  font-size: 0.85em;
  font-weight: 900;
  margin-left: 10px;
  letter-spacing: 1px;
  z-index: 1;
}

#grid-cell-second #cell2-text a::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 10px;
  border-radius: 50px;
  background-color: rgba(254, 120, 103, 0.25);
  z-index: -1;
  bottom: -2px;
  left: -6px;
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
}

#grid-cell-second #cell2-text a:hover::after {
  background-color: #fe7867;
}

#grid-cell-second #cell2-img {
  background-image: url(../images/desktop/image-stand-out.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}

#grid-cell-third {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cell3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 600px;
}

#grid-cell-third .image-blocks {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#grid-cell-third .image-blocks h2 {
  font-family: "Fraunces", serif;
  font-size: 1.55em;
  font-weight: 900;
  text-transform: capitalize;
  margin: 0px 0 28px 0;
}

#grid-cell-third .image-blocks p {
  font-family: "Barlow", sans-serif;
  line-height: 27px;
  margin: 0;
  font-size: 0.9em;
  margin: 0 0 60px 0;
  width: 48%;
}

#grid-cell-third .cherry {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  color: #25564b;
  background-size: cover;
  background-position: center;
}

#grid-cell-third .orange {
  background-image: url(../images/desktop/image-photography.jpg);
  color: #19536b;
  background-size: cover;
  background-position: center;
}

#client-testimonials-block {
  height: 777px;
  background-color: white;
}

#client-testimonials-block #testimonials-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 185px;
}

#client-testimonials-block #testimonials-title h3 {
  font-family: "Fraunces", serif;
  color: #a7abae;
  text-transform: uppercase;
  font-size: 1.11em;
  font-weight: 900;
  margin: 0;
  letter-spacing: 5px;
}

#client-testimonials-block #clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 80px 11% 0;
}

#client-testimonials-block #clients .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#client-testimonials-block #clients .person img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 40px;
}

#client-testimonials-block #clients .person p {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  text-align: center;
  font-size: 1em;
  line-height: 32px;
}

#client-testimonials-block #clients .person h5 {
  font-family: "Fraunces", serif;
  color: #23303e;
  font-size: 1em;
  font-weight: 900;
  margin: 14% 0 0;
}

#client-testimonials-block #clients .person h6 {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
  font-size: 0.75em;
  margin: 10px 0 0;
}

#client-testimonials-block #clients .thomas p {
  width: 85%;
}

#gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#gallery img {
  width: 25%;
}

#gallery #gallery-img-1 {
  content: url(../images/desktop/image-gallery-milkbottles.jpg);
}

#gallery #gallery-img-2 {
  content: url(../images/desktop/image-gallery-orange.jpg);
}

#gallery #gallery-img-3 {
  content: url(../images/desktop/image-gallery-cone.jpg);
}

#gallery #gallery-img-4 {
  content: url(../images/desktop/image-gallery-sugarcubes.jpg);
}

#footer {
  height: 350px;
  background-color: #91d4c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer img {
  width: 170px;
  margin: 72px 12px 0 0;
  color: #458c7e;
}

#footer #nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

#footer #nav-footer a {
  text-decoration: none;
  color: #458c7e;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  -webkit-transition: 150ms linear;
  transition: 150ms linear;
}

#footer #nav-footer a:hover {
  color: white;
}

#footer #footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 75px;
  width: 165px;
}

#footer #footer-icons i {
  font-size: 1.2em;
  font-weight: 400;
  color: #2d7668;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

#footer #footer-icons i:hover {
  color: white;
}

#footer .attribution {
  font-family: "Barlow", sans-serif;
  color: #2d7668;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  width: 90%;
}

#footer .attribution a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: #19536b;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

#footer .attribution a:hover {
  color: white;
}

@media (max-width: 825px) {
  body {
    min-width: 375px;
  }
  /* HEADER */
  #logo-wrapper img {
    width: 125px !important;
  }
  #header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header-block {
    height: 538px !important;
    padding: 30px 6.5% 40px 6.5%;
    background-image: url(../images/mobile/image-header.jpg);
  }
  #menu-bars {
    display: block !important;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
  }
  .rotation {
    -webkit-transform: rotate(90deg) skew(-10deg, 0deg);
            transform: rotate(90deg) skew(-10deg, 0deg);
  }
  #greeting h1 {
    font-size: 2em !important;
  }
  #navbar {
    position: absolute;
    z-index: 1;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    top: 110px;
    width: 87% !important;
    height: 305px;
    margin: auto;
    background-color: white;
    -webkit-transition: 200ms ease-in-out !important;
    transition: 200ms ease-in-out !important;
  }
  #navbar p {
    margin: 0 !important;
  }
  #navbar p a {
    color: #818498 !important;
  }
  #navbar p a:hover {
    color: #19536b !important;
  }
  #navbar p::after {
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    border: 25px solid white;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  #navbar #contact-button {
    background-color: #fad400 !important;
  }
  #navbar #contact-button:hover {
    background-color: rgba(250, 212, 0, 0.726) !important;
  }
  #navbar #contact-button:hover a {
    color: #818498 !important;
  }
  #navbar #contact-button a {
    color: #19536b !important;
  }
  .hide {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(117%, -200%) !important;
            transform: scale(0.3) translate(117%, -200%) !important;
    visibility: hidden;
  }
  .show {
    opacity: 1;
    -webkit-transform: translateX(0%) !important;
            transform: translateX(0%) !important;
  }
  /* HEADER */
  /* GRID */
  #grid-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "cell1" "cell2" "cell3";
  }
  #grid-cell-first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cell1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 750px;
  }
  #grid-cell-first #cell1-text {
    width: 100%;
    height: 50%;
    text-align: center;
  }
  #grid-cell-first #cell1-text #cell1-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  #grid-cell-first #cell1-text #cell1-text-wrapper h2 {
    font-size: 1.8em;
    width: 80%;
    margin-bottom: 0;
    margin-top: 65px;
  }
  #grid-cell-first #cell1-text #cell1-text-wrapper p {
    width: 88%;
  }
  #grid-cell-first #cell1-img {
    background-image: url(../images/mobile/image-transform.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
    min-height: 313px;
  }
  #grid-cell-second {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: cell2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    height: 750px;
  }
  #grid-cell-second #cell2-text {
    width: 100%;
    height: 50%;
    text-align: center;
  }
  #grid-cell-second #cell2-text #cell2-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  #grid-cell-second #cell2-text #cell2-text-wrapper h2 {
    font-size: 1.8em;
    width: 80%;
    margin-bottom: 0;
    margin-top: 65px;
  }
  #grid-cell-second #cell2-text #cell2-text-wrapper p {
    width: 88%;
  }
  #grid-cell-second #cell2-img {
    background-image: url(../images/mobile/image-stand-out.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
    min-height: 313px;
  }
  #grid-cell-third {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: cell3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 1200px;
  }
  #grid-cell-third .image-blocks {
    width: 100%;
    height: 50%;
  }
  #grid-cell-third p {
    width: 90% !important;
  }
  #grid-cell-third .cherry {
    background-image: url(../images/mobile/image-graphic-design.jpg);
  }
  #grid-cell-third .orange {
    background-image: url(../images/mobile/image-photography.jpg);
  }
  /* GRID */
  /* TESTIMONIALS */
  #client-testimonials-block {
    height: 1258px;
  }
  #client-testimonials-block #testimonials-title {
    height: 80px;
  }
  #client-testimonials-block #testimonials-title h3 {
    font-size: 0.85em !important;
  }
  #client-testimonials-block #clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 65px 9% 0;
  }
  #client-testimonials-block #clients .person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 65px;
  }
  #client-testimonials-block #clients .person img {
    margin-bottom: 15px;
  }
  #client-testimonials-block #clients .person h5 {
    margin: 5% 0 0;
  }
  #client-testimonials-block #clients .thomas p {
    width: 105% !important;
  }
  #client-testimonials-block #clients .jennie p {
    width: 110%;
  }
  /* TESTIMONIALS */
  /* GALLERY */
  #gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #gallery img {
    width: 50%;
  }
  #gallery #gallery-img-1 {
    content: url(../images/mobile/image-gallery-milkbottles.jpg);
  }
  #gallery #gallery-img-2 {
    content: url(../images/mobile/image-gallery-orange.jpg);
  }
  #gallery #gallery-img-3 {
    content: url(../images/mobile/image-gallery-cone.jpg);
  }
  #gallery #gallery-img-4 {
    content: url(../images/mobile/image-gallery-sugar-cubes.jpg);
  }
  /* GALLERY */
  /* FOOTER */
  #footer {
    height: 100%;
  }
  /* FOOTER */
}

@media (max-width: 450px) {
  #cell1-text {
    min-height: 437px;
  }
  #cell2-text {
    min-height: 437px;
  }
}

body {
  background-color: white;
  margin: 0;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */